.direcao-background {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 50px 20px 100px 20px;
    box-sizing: border-box;
    overflow: visible;
    text-align: center;
    background-color: black;
    animation: fadeToBlue 3s ease forwards;
}

@keyframes fadeToBlue {
    from {
        background-color: black;
    }
    to {
        background-color: #006699;
    }
}

.step-default > * {
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #333;
    margin: 0.5rem 0;
}

.step-default h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #090C08;
}

.step-default h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #C3E3E3;
}

.step-default h3 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #C3E3E3;
}

.step-default h4 {
    font-size: 1rem;
    font-weight: 400;
    color: #C3E3E3;
}
