html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.cronologia-container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 50px 20px 100px 20px;
    box-sizing: border-box;
    overflow: visible;
    text-align: center;
    background-color: black;
    animation: fadeToBlue 3s ease forwards;
}

@keyframes fadeToBlue {
    from {
        background-color: black;
    }
    to {
        background-color: #006699;
    }
}


.timeline-wrapper {
    display: inline-block;
    white-space: wrap
}
.MuiTimelineContent-root {
    white-space: normal;    /* allow wrapping */
    word-break: normal;     /* don't break mid-word */
}


.ano{
    text-align: center;
    color: white;
}